h1 {
  color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-align: center;
	height: 50px;
	margin: 20px auto;
}

body {
	background: #ACC8E5;
	font-family: 'Raleway', sans-serif;
	margin:  50px auto;
}

p {
	color: #112A46;
	text-align: center;
}

h2 {
	color: #000000;
	font-weight: bold;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #112A46;
  text-decoration: none;
}

#profile-img {
  border-radius: 50%;
  border: 5px solid whitesmoke;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  display: block;
  margin: 0px auto 30px auto;
  width: 10%;
}

#first-p {
	display: block;
	text-align: center;
	margin: auto auto 10px auto;
	width: 70%;
}

#first-link {
	display: block;
	text-align: center;
	margin: auto auto 40px auto;
}

.h2s {
	text-align: center;
}

#links {
	text-align: center;
	list-style-type: none;
	padding: 0px;
}

.container01 {
	background-color: hsl(212, 50%, 89%);
	margin: 50px 300px;
	height: 300px;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.container02 {
	background-color: hsl(212, 50%, 89%);
	margin: 50px 300px;
	height: 100px;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.container03 {
	background-color: hsl(212, 50%, 89%);
	margin: 50px 300px;
	height: 100px;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.container04 {
	margin: 0px 300px;
	height: 100px;
	padding-top: 0px;
	margin-bottom: 50px;
  border-radius: 4px;
}

@media (max-width: 960px) {
  .container01 {
  	margin: 50px 350px;
  }
  .container02 {
  	margin: 50px 350px;
  }
  .container03 {
  	margin: 50px 350px;
  }
  .container04 {
  	margin: 50px 350px;
  }
}
@media (max-width: 720px) {
  .container01 {
    margin: 50px 400px;
  }
  .container02 {
    margin: 50px 400px;
  }
  .container03 {
    margin: 50px 400px;
  }
  .container04 {
    margin: 50px 400px;
  }
}
@media (max-width: 540px) {
  .container01 {
    margin: 50px 450px;
  }
  .container02 {
    margin: 50px 450px;
  }
  .container03 {
    margin: 50px 450px;
  }
  .container04 {
    margin: 50px 450px;
  }
}